/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

img {
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}

/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Flext Item, takes 3 times the space for all of the list items */
.flex-nav li {
  flex: 3;
}

/* these social icons will over write the amount of space needed */
.flex-nav .social {
  flex: 1;
}

/* for applying web page break points */
@media all and (max-width:1000px) {
  /* flex-wrap will not work without specifying widths below */
  .flex-nav ul {
    flex-wrap: wrap;
  }

  /* to be able to wrap our ul elements we need to give it a width,
     this allows us to stack all li one by one */
  .flex-nav li {
    /* grow at 1, shrink at 1, and 50 % wide next to each other */
    flex: 1 1 50%;
  }

  /* .flex-nav .social above is over writing our break points, so we had it here
     this can be seen in the dev tools styles tab scratching out our flex widths
     for social icons */
  .flex-nav .social {
    flex: 1 1 25%;
  }
}

/* for applying mobile break points (500px) and can be any break point you want */
@media all and (max-width:500px) {
  /* this overrides above media .flex-nav li and .flex-nav .social for
     grow, shrink, and width so the icons can stay 4 in a row  */
  .flex-nav li {
    flex-basis: 100%;
  }

  /* Flex Container, 'display: flex;' turns our wrapper into a flex container
     and our immediate children into a flex items, using 'flex-direction: column;'
     changes the direction into a column view (top to bottom) rather than row
     (default left to right) */
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Flex Item, applying ordering to each one of these items, putting a default
     order on every flex item, this is a quick selector of every immediate child
     of wrapper */
  .wrapper > * {
    order: 9999;
  }

  .flex-nav {
    order: 1;
  }

  /* toggles our menu at 500px break point */
  .toggleNav {
    display: block;
  }

  /* disable flex items at 500px break point */
  .flex-nav ul {
    display: none;
  }

  /* targeting our jquery toggle handler, using 'display: flex;' to stack our icons
     in a row rather than in a column */
  .flex-nav ul.open {
    display: flex;
  }

  /* ordering our remaining elements */
  .top {
    order: 2;
  }

  .details {
    order: 3;
  }

  .signup {
    order: 4;
  }
}
