/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color:white;
}

.item.large {
  font-size: 40px;
}

.item.small {
  font-size: 20px;
}

.item {
  background:rgba(255,255,255,0.2);
  margin:10px;
  padding:20px;
  font-size: 30px;
}

/* making sure the height of each column are the same size as the largest one */
.elements {
  display: flex; /* setting up our flex container */
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  /* setting our grow, shrink, and width. We use calc because we are using
     .item { margin: 10px} above to minus 20px for 10px margin on either side
     and create a 3 column and row grid */
  flex: 1 1 calc(33.33% - 20px);
}
